body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	background-color: #f4f5f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	line-height: 1.2;
}

a {
	color: #0ab3ea;
	text-decoration: none;
}
